export JAVA_HOME="$HOME/.sdkman/candidates/java/25.4.4+1-graal"
export GRAALVM_HOME="$HOME/.sdkman/candidates/java/25.4.4+1-graal"
export JENV_VERSION="graal-25.4"
export PATH="${JAVA_HOME}/bin:$PATH"